<a href="https://colab.research.google.com/github/prithwis/parashar21/blob/main/P21_451_Cast_Load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](http://1.bp.blogspot.com/_5QlanosqxiQ/SXLOLTu7S7I/AAAAAAAAAm8/0r6C7lCxsic/S1600-R/p21-header-003.png) <br>


---



[Prithwis Mukerjee](http://www.yantrajaal.com) ||
Website - [Parashar21](https://parashar21.blogspot.com)<br>

Copyright (c) 2022, Prithwis Mukerjee
All rights reserved.

This source code is licensed under the GNU GPL v3.0 -style license found in the
LICENSE file in the root directory of this source tree.

#Create Charts and store in MongoDB

#Setup

##Install Swiss Ephemeris <br>

https://pypi.org/project/pyswisseph/  - Python Package Documentation <br>
https://www.astro.com/swisseph/swephinfo_e.htm <br>
https://www.astro.com/swisseph/swephprg.htm - Programmer Documentation <br>
https://pythonhosted.org/pyswisseph/swisseph-module.html

In [1]:
!pip -qq install pyswisseph                                 # https://stackoverflow.com/questions/64277506/pip-install-options-unclear
!pip -qq install python_string_utils
#!pip -qq install python-docx                                #https://python-docx.readthedocs.io/en/latest/
#!pip install pyswisseph==2.10.2.0.dev1
!apt install mongodb > /dev/null

     |████████████████████████████████| 521 kB 5.0 MB/s
  Building wheel for pyswisseph (setup.py) ... done

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [2]:
#Load p21 modules from github
!wget -O p21.py -q https://raw.githubusercontent.com/prithwis/parashar21/main/utils/p21.py                  # all global variables
!wget -O p21swe.py -q https://raw.githubusercontent.com/prithwis/parashar21/main/utils/p21swe.py            # Swiss Ephemeris functions
!wget -O p21utils.py -q https://raw.githubusercontent.com/prithwis/parashar21/main/utils/p21utils.py        # large number of utility functions

In [3]:
# ---------------------------
import p21
import p21swe
import p21utils
# ------------------------------------------------
# required for multiple imports of the same module
# ------------------------------------------------
import importlib
importlib.reload(p21)
importlib.reload(p21swe)
importlib.reload(p21utils)

imported p21
p21swe imported
p21utils imported
imported p21
p21swe imported
p21utils imported

In [4]:
#Download Swiss Ephemeris Files 
!wget -q http://www.astro.com/ftp/swisseph/ephe/seas_18.se1
!wget -q http://www.astro.com/ftp/swisseph/ephe/semo_18.se1
!wget -q http://www.astro.com/ftp/swisseph/ephe/sepl_18.se1
!mkdir ephe
!mv *.se1 ephe
#------------------------------
# Configure SWE with appropriate parameters
#
p21swe.C01_configSWE()

##Connect to MongoDB

In [5]:
from pymongo import MongoClient
import pandas as pd
import dateutil
import string_utils
import json

In [6]:
from google.colab import drive
drive.mount('/content/drive')
# --------------------------------------------
# copy credentials file
!cp /content/drive/'My Drive'/Praxis/WebCredentials/clevercloudMongoDB.py credentials.py
# -----------------------------------------------

from credentials import rhostName,ruserName,rpassWord,rdbName,rMongoURI

# -----------------------------------------------
mongoURI = rMongoURI                                   # for remote server
#mongoURI = "mongodb://localhost:27017/"
client = MongoClient(mongoURI)
client.list_database_names()

Mounted at /content/drive

['btncgfi3a5bxyea']

In [7]:
db = client.btncgfi3a5bxyea
# Show Collections. Query returns a Cursor [ ] ,  list it to see the content
pd.DataFrame(list(db.list_collections()))
# empty list '[]' means that there are not collections in database

          name  ...                                            idIndex
0  khona21Test  ...  {'v': 2, 'key': {'_id': 1}, 'name': '_id_', 'n...
1      khona21  ...  {'v': 2, 'key': {'_id': 1}, 'name': '_id_', 'n...

[2 rows x 5 columns]

In [8]:
#db = client.btncgfi3a5bxyea

#db.khona21Test.drop()                   # Test DB
#db.khona21.drop()                      # Main DB do not drop, accidentally

#db.create_collection('khona21Test')      # https://feminisminindia.com/2019/06/07/khawna-khana-poet-rural-bengal/
                                        # https://en.wikipedia.org/wiki/Khana_(poet)
#kollection = db.khona21Test                # Set the collection to work with

#Check and record Initial DB status
#countInitial = kollection.count_documents({})
#dbSizeInitial = db.command( {"dbStats": 1, "scale": 1024 } )['dataSize']
#print(round(dbSizeInitial),'KB database with ', countInitial, ' docs in current collection' )

##Read External Data
from CSV files

In [17]:
#import pandas as pd

#!wget -O peopleData.csv -q https://raw.githubusercontent.com/prithwis/parashar21/main/data/Test5Data.txt # 5 Person Test Data
!wget -O peopleData.csv -q https://github.com/prithwis/parashar21/raw/main/data/Rodden39663.csv

#!gdown -O peopleData.csv https://drive.google.com/uc?id=1CVo1gnMZyCD0EZvAoF_wRdTwL7yqIT6L # 5 Person Test Data
#!gdown -O peopleData.csv https://drive.google.com/uc?id=1dlvqcygJJh0CfyY_X2MLrWm-W9U0z_6l # 39663 Rodden Data

#!sed -i '1d' peopleData.csv 
#!cat peopleData.csv

df = pd.read_csv('peopleData.csv')
df.head()

  Gender         Voc1_Cat  ...   TZ_Type                        Name
0      M  Entertain/Music  ...  standard                 A_Dominique
1      M          Writers  ...  standard                      A_D_G_
2      M    Entertainment  ...  standard               Aabel_Andreas
3      M    Entertainment  ...  standard                   Aabel_Per
4      M    Entertainment  ...  standard  Aal_Pomares_Henri_Francois

[5 rows x 18 columns]

#Cast & Store charts in JSON file
Driver Code

In [18]:
%%time
p21.ChartType = 'Rashi'                                 # one of ['Rashi','Navamsa']

writeFile =  open("peopleData.json", "w")  
for person in range(len(df)):
    try :
        personData =df.iloc[person]
        p21swe.C02_parsePersonData(personData)                  # split the data, extract required data into fields
                                                                # create skeleton chart json doc as p21.chart
        p21swe.C03_convertDates()                               # convert date, time of birth into universal time, calculate Ayanamsha
        p21swe.C04_calculateGrahaPositions()                    # calculate the Lon of each Graha along with Retrograde staus

                    #Horoscope is defined in terms of Natal Longitudes and Retrogrades
                    # for example
                    #GLon = {"La":98.5,"Su":178.9,"Mo":250.6,"Ma":196.2,"Me":193.2,"Ju":274.8,"Ve":153.8,"Sa":270.2,"Ra":122.1,"Ke":302.1}
                    #GRet = {"La":False,"Su":False,"Mo":False,"Ma":False,"Me":True,"Ju":False,"Ve":False,"Sa":False,"Ra":True,"Ke":True}

        p21swe.C05_buildGLonGRet()                              # create two json docs ( python dicts) to store Graha Lon and Ret status
                                                                # these are stored as global variables p21.GLon, p21.GRet
        p21utils.appendDict(p21.chart,p21.GLonRet)              # add Lon, Ret information to chart
        
        # ----------------------------------------
        p21utils.R11_LocateGrahaInRashi()
        
        p21utils.C10_DetermineBhavs()                           # determine Houses for person
        p21utils.appendDict(p21.chart,p21.BhavNBhavA)           # add BhavN, BhavA information to chart   
         
        # ----------------------------------------    
        p21utils.C11_DetermineLord()                            # determine Lords of Bhavs
        p21utils.appendDict(p21.chart,p21.LordInfo)             #  add information on Lords   

        p21utils.C12_BhavOfGraha_Lord()
        p21utils.appendDict(p21.chart,p21.BhavOfGraha_LordInfo) #  add information on Bhav Residency of Graha and Lords  
        
        
        p21utils.C21_DeterminePositions()
        p21utils.appendDict(p21.chart,p21.Positions)            #  add information on Graha / Lord POSITIONS  

        p21utils.C31_DetermineAspects()
        p21utils.appendDict(p21.chart,p21.Aspects)              #  add information on Graha / Lord ASPECTS  

        p21utils.C41_DetermineConjuncts()           
        p21utils.appendDict(p21.chart,p21.Conjuncts)            #  add information on Graha / Lord Conjuncts
    except :
        print('error on record ', person)
    else :
        #insert_result = kollection.insert_one(p21.chart)        # insert one json doc, chart to database
        #insert_result.acknowledged                              # Confirms that insert is successful
                                                                 # Bypassing insertion into MongoDB will make processing much faster
        json.dump(p21.chart, writeFile)                          # Storing chart data as JSON file
    finally:
        if ( person % 1000 ) == 0:
            print(person, "records processed")
    
writeFile.close()
#!cp peopleData.json /content/drive/'My Drive'/Prithwis/Parashar21/ChartCast/ChartData2/

0 records processed
1000 records processed
2000 records processed
3000 records processed
4000 records processed
5000 records processed
6000 records processed
7000 records processed
8000 records processed
9000 records processed
10000 records processed
11000 records processed
12000 records processed
13000 records processed
14000 records processed
15000 records processed
16000 records processed
17000 records processed
18000 records processed
19000 records processed
20000 records processed
21000 records processed
22000 records processed
23000 records processed
24000 records processed
25000 records processed
26000 records processed
27000 records processed
28000 records processed
error on record  28803
29000 records processed
30000 records processed
31000 records processed
32000 records processed
33000 records processed
34000 records processed
35000 records processed
36000 records processed
37000 records processed
38000 records processed
39000 records processed
CPU times: user 1min 5s, sys: 1.89 s, total: 1min 7s
Wall time: 1min 7s

#Load into Mongo

In [19]:
%%time
!mongoimport --host "{rhostName}" --port "27017" --db "{rdbName}" --collection "khona21"  --drop --file "peopleData.json" -u "{ruserName}" -p "{rpassWord}"

2022-01-23T01:11:19.867+0000	connected to: btncgfi3a5bxyea-mongodb.services.clever-cloud.com:27017
2022-01-23T01:11:19.958+0000	dropping: btncgfi3a5bxyea.khona21
2022-01-23T01:11:22.105+0000	[#.......................] btncgfi3a5bxyea.khona21	6.09MB/119MB (5.1%)
2022-01-23T01:11:25.106+0000	[####....................] btncgfi3a5bxyea.khona21	24.2MB/119MB (20.3%)
2022-01-23T01:11:28.105+0000	[########................] btncgfi3a5bxyea.khona21	40.2MB/119MB (33.7%)
2022-01-23T01:11:31.108+0000	[###########.............] btncgfi3a5bxyea.khona21	57.3MB/119MB (48.0%)
2022-01-23T01:11:34.105+0000	[##############..........] btncgfi3a5bxyea.khona21	72.3MB/119MB (60.6%)
2022-01-23T01:11:37.105+0000	[##################......] btncgfi3a5bxyea.khona21	90.3MB/119MB (75.7%)
2022-01-23T01:11:40.106+0000	[#####################...] btncgfi3a5bxyea.khona21	108MB/119MB (90.4%)
2022-01-23T01:11:42.604+0000	[########################] btncgfi3a5bxyea.khona21	119MB/119MB (100.0%)
2022-01-23T01:11:42.604+0000	imported 39662 documents
CPU times: user 196 ms, sys: 32.2 ms, total: 229 ms
Wall time: 23.6 s

#Check Database Status

In [20]:
kollection = db.khona21  
countFinal = kollection.count_documents({})
dbSizeFinal = db.command( {"dbStats": 1, "scale": 1024 } )['dataSize']
#DocsInserted = countFinal - countInitial
#AddSpaceUsed = round(dbSizeFinal - dbSizeInitial)
#if DocsInserted > 0:
#    AvgDocSize = round(AddSpaceUsed/DocsInserted)
#else:
#    AvgDocSize = 'na'
#print(DocsInserted,' docs inserted, ',AddSpaceUsed,' KB added , with avg doc size = ', AvgDocSize)
print(round(dbSizeFinal),'KB database with ', countFinal, ' docs in current collection' )

129465 KB database with  39662  docs in current collection

In [16]:
# Check data loaded into MongoDb
#c = kollection.find()
#for crnt in c:
#    print(crnt)
pd.DataFrame(list(kollection.find({},{'_id':0}).limit(10)))

                                                 pid  ...                                     BLConjunctsBL2
0  {'tags': ['Entertain/Music', 'Entertain/Music'...  ...  {'1': ['2', '9'], '2': ['10', '1'], '3': ['4',...
1  {'tags': ['Writers', 'Writers', 'Writers'], 'c...  ...  {'3': ['6', '9'], '6': ['12', '3'], '9': ['12'...
2  {'tags': ['Entertainment', 'nil', 'nil'], 'ck'...  ...     {'7': ['10'], '10': ['7', '12'], '12': ['10']}
3  {'tags': ['Entertainment', 'Entertainment', 'n...  ...  {'1': ['11', '6', '3'], '3': ['11', '4', '1', ...
4  {'tags': ['Entertainment', 'Politics', 'nil'],...  ...          {'3': ['5'], '5': ['6', '3'], '6': ['5']}
5  {'tags': ['Military', 'Military', 'nil'], 'ck'...  ...  {'1': ['7', '12', '3', '8', '2'], '2': ['7', '...
6  {'tags': ['Military', 'Military', 'nil'], 'ck'...  ...  {'1': ['7', '12', '3', '8', '2'], '2': ['7', '...
7  {'tags': ['Military', 'Travel', 'nil'], 'ck': ...  ...  {'1': ['3', '10', '5', '8', '11', '2'], '2': [...
8  {'tags': ['Education', 'Religion', 'nil'], 'ck...  ...  {'2': ['4'], '3': ['11', '8'], '4': ['5', '2']...
9  {'tags': ['Art', 'Business', 'nil'], 'ck': 'M1...  ...  {'1': ['8', '3'], '3': ['10', '1'], '8': ['10'...

[10 rows x 28 columns]

In [ ]:
#Retrieves Charts based on tags
#pd.DataFrame(list(kollection.find({'pid.tags': {"$in": ['Scientist','Author']}},{'pid.tags':1,'GLon':1,'GRet':1,'_id':0})))
#c = kollection.find({'pid.tags': {"$in": ['Scientist','Author']}},{'pid.tags':1,'GLon':1,'GRet':1,'_id':0})
#for crnt in c:
#    print(crnt)

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)